<div class="meta-bar">
    <div class="home-link">
      {{#link-to "dashboard"}}
        <img src="img/icon-home.jpg" />
        <span>Home</span>
      {{/link-to}}
    </div>
    <div class="logo">
        <img src="img/telegram-logo-meta-bar.jpg" />
    </div>
    <div class="user-meta">
      <div class="placeholder-image"></div>
      <span>{{user.name}}</span>
    </div>
</div>