<div class="post-wrapper">
    <div class="author-image-container">
        <div class="author-image"></div>
    </div>

    <div class="author-name">
      {{#link-to 'profile' post.author.id}}
        {{post.author.name}}
      {{/link-to}}
    </div>


    <div class="post-content">{{post.content}}</div>

    <div class="post-footer">

      <div class="post-date">
        {{#link-to 'profile.post' post.author.id post.id}}
          {{format-date post.createdAt}}
        {{/link-to}}
      </div>

      <span>&#183;</span>

        <div class="delete">
            <a {{action 'delete'}}>Delete</a>
        </div>

    </div>




</div>
