<h2>Get going ...</h2>

{{input type="text" placeholder="Enter your username ..." value=id action='login'}}
{{input type="password" placeholder="Enter your password ..." value=password action='login'}}

<span class="error-text"></span>

<div class="auth-right-footer">
    <button {{action 'login' target='controller'}}>Log in</button>
    <span>{{#link-to "auth.reset-password"}}Reset password{{/link-to}} or {{#link-to "auth.create-account"}}Sign up{{/link-to}}</span>
</div>