<h2>Reset password</h2>

{{input type="email" placeholder="Enter your email ..." value=email action='passwordReset'}}

{{#if errorMsg}}
    <div class="message error">{{errorMsg}}</div>
{{/if}}

{{#if infoMsg}}
    <div class="message info">{{infoMsg}}</div>
{{/if}}

<div class="auth-right-footer">
    <button {{action 'passwordReset' target='controller'}}>Reset password</button>
</div>