<h2>Reset password</h2>

{{input type="email" placeholder="Enter your email ..." value=email action='passwordReset'}}


<div class="auth-right-footer">
    <button {{action 'passwordReset' target='controller'}}>Reset password</button>
</div>