body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

.auth {
    height: 100vh;
    overflow: auto;
    background-color: #008CB8;
    color: #000000;
    font-size: 13px;
}

a {
    text-decoration: none;
    color: #0084B2;
}

a:hover {
    text-decoration: underline;
}

:focus {
    outline-color: transparent;
    outline-style: none;
}

h2 {
    font-size: 22px;
}

button {
    border: 1px solid;
    padding: 8px;
    background-color: #ffffff;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}

.hero-container {
    position: relative;
    width: 830px;
    height: 330px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
    padding: 35px;
    background-color: #ffffff;
}

.postmark-image {
    position: absolute;
    top: 25px;
    right: 0;
}

.hero-left-half {
    width: 50%;
    border-right: 1px solid #EEEEEE;
    height: 100%;
    text-align: center;
    float: left;
}

.hero-left-half img {
    margin-top: 32%;
}

.hero-right-half {
    margin-top: 10%;
    margin-left: 10px;
    padding: 0px 60px;
    float: right;
    overflow: auto;
    width: 34%;
}

.hero-right-half input {
    width: 100%;
    border-bottom: 1px solid #eeeeee;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 5px 0px;
    font-size: 13px;
}

.auth-right-footer {
    margin-top: 25px;
}

.hero-right-half button {
    float: left;
    border-color: #0084B2;
    color: #0084B2;
}

.auth-right-footer span {
    float: right;
    line-height: 3;
}

.hero-right-half .message {
    float: none;
    margin-top: 15px;
    margin-bottom: -5px;
    line-height: 1.2;
}

.message.error {
    color: #ff0000;
}

.message.info {
    color: #0000ff;
}

.message.success {
    color: #008000;
}

.meta-bar {
    height: 45px;
    padding-top: 5px;
    border-bottom: 1px solid #EFEFEF;
    box-shadow: 0px 5px 5px #EFEFEF;
    text-align: center;
}

.meta-bar .home-link {
    float: left;
    margin-left: 25px;
    padding-top: 5px;
}

.meta-bar .home-link a {
    color: #000000;
}

.meta-bar .home-link img {
    float: left;
}

.meta-bar .home-link span {
    float: left;
    margin-left: 10px;
    padding-top: 10px;
}

.meta-bar .logo {
    width: 100px;
    display: inline;
    margin-left: 35px;
}

.meta-bar .user-meta {
    float: right;
    margin-right: 25px;
    padding-top: 5px;
}

.meta-bar .user-meta a {
    color: #000000;
}

.meta-bar .user-meta a:hover {
    color: #0084B2;
}

.meta-bar .user-meta .placeholder-image {
    float: left;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    background-color: #999999;
}

.meta-bar .user-meta span {
    float: left;
    padding-top: 5px;
}

.user-content-container {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    text-align: center;
    margin-top: 20px;
}

.user-content-container .post-input {
    width: 80%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.user-content-container .post-input textarea {
    width: 100%;
    margin-bottom: 30px;
    border: none;
    resize: none;
    font-size: 20px;
}

.user-content-container .post-input .footer {
    overflow: auto;
}

.user-content-container .post-input .footer span {
    float: left;
}

.user-content-container .post-input .footer button {
    float: right;
}

.latest-posts-header {
    margin-top: 30px;
    border-top: 1px solid #EFEFEF;
    border-bottom: 1px solid #EFEFEF;
}

.user-content-container .profile-image {
    width: 100px;
    height: 100px;
    background-color: #EFEFEF;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.user-content-container .user-info > * {
    display: block;
}

.user-info {
    margin-bottom: 20px;
}

.user-info .name {
    margin-bottom: 5px;
    font-weight: bold;
}

.user-info .id {
    margin-bottom: 20px;
}

.user-info button {
    margin-left: auto;
    margin-right: auto;
}

.user-content-container .nav {
    margin-bottom: 30px;
    border-top: 1px solid #EFEFEF;
    border-bottom: 1px solid #EFEFEF;
}

.user-content-container .nav ul {
    list-style-type: none;
}

.user-content-container .nav ul li {
    display: inline;
    margin-right: 20px;
    font-size: 18px;
    font-weight: bold;
}

.user-content-container .selected {
    padding-bottom: 10px;
    border-bottom: 2px solid #0084B2;
    color: inherit;
    cursor: default;
    text-decoration: none;
}

.post-list-item-wrapper,
.user-list-item-wrapper {
    position: relative;
    padding: 15px 20px;
    overflow: auto;
    border-bottom: 1px solid #efefef;
    text-align: left;
}

.post-list-item-wrapper .display-repost {
    padding-left: 35px;
    padding-bottom: 10px;
    font-size: 13px;
    color: #999;

}

.post-list-item-wrapper .display-repost img {
    width: 15px;
    margin-right: 10px;
}

.post-list-item-wrapper .author-image-container,
.post-list-item-wrapper .icon-repost,
.user-list-item-wrapper .user-image-container
{
    float: left;
    width: 50px;
    height: 100%;
    margin-right: 15px;
}

.post-list-item-wrapper .author-image,
.user-list-item-wrapper .user-image {
    width: 50px;
    height: 50px;
    background-color: #EFEFEF;
}

.post-list-item-wrapper .post-info-container {
    float: left;
}

.post-list-item-wrapper .author-name,
.user-list-item-wrapper .user-name {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 13px;
}

.post-list-item-wrapper .author-name a,
.post-list-item-wrapper .post-footer a,
.user-list-item-wrapper .user-name a
{
    color: #000000;
}

.post-list-item-wrapper .author-name a:hover,
.post-list-item-wrapper .post-footer a:hover,
.user-list-item-wrapper .user-name a:hover
{
    color: #0084B2;
    cursor: pointer;
    text-decoration: none;
}

.post-list-item-wrapper .post-content {
    height: 3em;
    margin-bottom: 10px;
    font-size: 13px;
}

.post-list-item-wrapper .post-footer {
    font-size: 11px;
}

.post-list-item-wrapper .post-footer .post-date {
    display: inline;
    margin-right: 5px;
}

.post-list-item-wrapper .post-footer .repost {
    display: inline;
    margin: 0 5px;
}

.post-list-item-wrapper .post-footer .delete {
    display: inline;
    margin-left: 5px;
}

.post-list-item-wrapper .repost-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #efefef;
    font-size: 13px;
}

.post-list-item-wrapper .repost-overlay a {
    cursor: pointer;
}

.post-list-item-wrapper .repost-overlay .icon-repost {
    padding-top: 35px;
    padding-left: 20px;
}

.post-list-item-wrapper .repost-overlay .repost-prompt {
    display: block;
    padding-top: 40px;
    padding-bottom: 5px;
}

.user-list-item-wrapper {
    height: 55px;
}

.user-list-item-wrapper .user-name {
    float: left;
}

.user-list-item-wrapper button {
    float: right;
}

