<h2>Create your account</h2>

<form>
    <input type="text" placeholder="Enter your name ...">
    <input type="text" placeholder="Enter your username ...">
    <input type="password" placeholder="Enter your password ...">

    <div class="index-right-footer">
        <button type="submit">Sign up</button>
        <span>{{#link-to "index.login"}}Login{{/link-to}}</span>
    </div>
</form>