<h2>Get going ...</h2>

<form>
    <input type="text" placeholder="Enter your username ...">
    <input type="password" placeholder="Enter your password ...">

    <div class="index-right-footer">
        <button type="submit">Log in</button>
        <span>{{#link-to "index.reset-password"}}Reset password{{/link-to}} or {{#link-to "index.create-account"}}Sign up{{/link-to}}</span>
    </div>
</form>