<div class="auth">
    <div class="hero-container">
        <img src="img/postmark.png" class="postmark-image"/>

        <div class="hero-left-half">
            {{#link-to "auth.login"}}
                <img src="img/telegram-logo.png"/>
            {{/link-to}}
        </div>
        <div class="hero-right-half">
          {{outlet}}
        </div>
    </div>
</div>

