<div class="hero-container">
    <img src="img/postmark.png" class="postmark-image"/>

    <div class="hero-left-half">
        <img src="img/telegram-logo.png"/>
    </div>
    <div class="hero-right-half">
        {{outlet}}
    </div>
</div>
