<div class="meta-bar">
    <div class="home-link">
      {{#link-to "user.dashboard"}}Home{{/link-to}}
    </div>
    <div class="logo">
        <span>Telegram</span>
    </div>
    <div class="user-meta">
        <!--<img src="#" />-->
        {{fullName}}
    </div>
</div>

<div class="user-content-container">

  {{outlet}}

</div>


